<!--The content below is only a placeholder and can be replaced.-->
<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">채팅</div>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix row">
    <div class="message_input_wrapper col-sm-8">
      <input class="message_input" placeholder="메세지를 입력해주세요..." />
    </div>
    <div class="send_message col-sm-4">
      <div class="icon"></div><div class="text">보내기</div>
    </div>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar">
    </div>
    <div class="text_wrapper">
      <div class="text">
      </div>
    </div>
  </li>
</div>
